<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet"/>
    <script crossorigin="anonymous"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        @page {
            size: A4 landscape;
        }

        .full-width {
            width: 100%;
        }
    </style>
</head>

<body>

<div class="container">
    <div class="header">
        <table class="full-width">
            <tr>
                <td>
                    <div>
                        <p class="title ma-0">
                            <b th:text="${!data.getDesignation().equals('')} ? ${data.getDesignation()}: 'Datenübersicht - Eigene Mitarbeiter'"></b>
                        </p>
                        <p class="subtitle ma-0">
                            <b th:text="${data.getSubtitles()}"></b>
                        </p>
                        <p class="subtitle ma-0">
                            <span class="font-weight-bold">Stand: </span><span th:text="${data.getReferenceDate()}"></span>
                        </p>
                    </div>
                </td>
                <td>
                    <div class="text-right">
                        <img class="float-right" th:src="@{classpath:static/images/logo.png}"  alt="Logo Werkules" width="250" />
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <table class="table table-sm">
        <tr>
            <th>#</th>
            <th th:each="key : ${data.getEmployees()[0].keySet()}">
                <span th:text="${key}"></span>
            </th>
        </tr>
        <tr th:each="employee, idStat : ${data.getEmployees()}">
            <td th:text="${idStat.count}"></td>
            <td th:each="data : ${employee.keySet()}">
                <span th:text="${employee.get(data)}"></span>
            </td>
        </tr>
    </table>
</div>

</body>
</html>